<html>
    <head>
        <title>Order Information</title>
    </head>
    <body>
        <h1 style="text-align: center;">Order Information</h1>
        <ul>
            <li>Reference Number = <%= order.reference_no </li>
            <li>Customer name = <%=order.customer_name %></li>
            <li>Date = <%= order.date %></li>
        </ul>
    </body>
</html>